img {
  max-height: 1.5em;
  padding: 1px 5px;
}
section.category {
  background-color: rosybrown;
}
h2 {
  background-color: slateblue;
  color: darkred;
  padding: 5px;
}
h3 {
  background-color: darkblue;
}
section:not(section.category) {
  padding: 1px 5px;
  border: goldenrod dotted 3px;
  margin: 10px;
  width: 45%;
}
#fruits {
  background-color: orangered;
  display: inline-block;
}
#veggies {
  background-color: green;
  display: inline-block;
}
#pantry {
  background-color: brown;
  display: inline-block;
}
#fridge {
  background-color: dodgerblue;
  display: inline-block;
}
